.App {
  display: flex;
  justify-content: center;
  align-items: center;
  

  grid-template-columns: 400px;
  background-color: #000000 ;
  border:1px solid rgb(255, 255, 255);
  
}

.form {
  border:300px solid #000000;
 padding: 30px;
}

.App-header {
  background-color: #000000 ;
  color: #ffffff;
 min-height: 100vh;
 display: flex;
 
 align-items: center;
 justify-content: r;
 font-size: calc(10px + 2vmin);
 
}

.Nome{
  position: relative;
 
}

.Apellido{
position: relative ;
}

.Telefone{
 position: relative;

}

.Pais{
  position: relative;

}

.Assunto{
  position: relative;

}

.Mensage{
position: relative;
}

.Email{
  position: relative;

}

.Submit{
position: relative;
}